--
-- PostgreSQL database dump
--

\restrict PrmafafLkYDMPAiwNndv6QtZWb6urfz9HJF51NeGVYeaAcGIAh0sRISbq1tgAqc

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.customers (
    customer_id text NOT NULL,
    customer_unique_id text NOT NULL,
    customer_zip_code_prefix integer NOT NULL,
    customer_city text NOT NULL,
    customer_state text NOT NULL
);


ALTER TABLE public.customers OWNER TO olist_user;

--
-- Name: customers_staging; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.customers_staging (
    customer_id text,
    customer_unique_id text,
    customer_zip_code_prefix integer,
    customer_city text,
    customer_state text
);


ALTER TABLE public.customers_staging OWNER TO olist_user;

--
-- Name: ingestion_runs; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.ingestion_runs (
    ingestion_id uuid NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp without time zone,
    status text NOT NULL,
    error_message text
);


ALTER TABLE public.ingestion_runs OWNER TO olist_user;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.order_items (
    order_id text NOT NULL,
    order_item_id integer NOT NULL,
    product_id text NOT NULL,
    seller_id text NOT NULL,
    shipping_limit_date timestamp without time zone NOT NULL,
    price numeric(12,2) NOT NULL,
    freight_value numeric(12,2) NOT NULL
);


ALTER TABLE public.order_items OWNER TO olist_user;

--
-- Name: order_payments; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.order_payments (
    order_id text NOT NULL,
    payment_sequential integer NOT NULL,
    payment_type text NOT NULL,
    payment_installments integer NOT NULL,
    payment_value numeric(12,2) NOT NULL
);


ALTER TABLE public.order_payments OWNER TO olist_user;

--
-- Name: order_reviews; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.order_reviews (
    review_id text NOT NULL,
    order_id text NOT NULL,
    review_score integer NOT NULL,
    review_comment_title text,
    review_comment_message text,
    review_creation_date timestamp without time zone,
    review_answer_timestamp timestamp without time zone
);


ALTER TABLE public.order_reviews OWNER TO olist_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.orders (
    order_id text NOT NULL,
    customer_id text NOT NULL,
    order_status text NOT NULL,
    order_purchase_timestamp timestamp without time zone NOT NULL,
    order_approved_at timestamp without time zone,
    order_delivered_carrier_date timestamp without time zone,
    order_delivered_customer_date timestamp without time zone,
    order_estimated_delivery_date timestamp without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO olist_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.products (
    product_id text NOT NULL,
    product_category_name text,
    product_name_lenght integer,
    product_description_lenght integer,
    product_photos_qty integer,
    product_weight_g integer,
    product_length_cm integer,
    product_height_cm integer,
    product_width_cm integer
);


ALTER TABLE public.products OWNER TO olist_user;

--
-- Name: sellers; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.sellers (
    seller_id text NOT NULL,
    seller_zip_code_prefix integer NOT NULL,
    seller_city text NOT NULL,
    seller_state text NOT NULL
);


ALTER TABLE public.sellers OWNER TO olist_user;

--
-- Name: staging_orders; Type: TABLE; Schema: public; Owner: olist_user
--

CREATE TABLE public.staging_orders (
    ingestion_id uuid NOT NULL,
    order_id text,
    customer_id text,
    order_status text,
    order_purchase_timestamp text,
    order_approved_at text,
    order_delivered_carrier_date text,
    order_delivered_customer_date text,
    order_estimated_delivery_date text
);


ALTER TABLE public.staging_orders OWNER TO olist_user;

--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: ingestion_runs ingestion_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.ingestion_runs
    ADD CONSTRAINT ingestion_runs_pkey PRIMARY KEY (ingestion_id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (order_id, order_item_id);


--
-- Name: order_payments order_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_payments
    ADD CONSTRAINT order_payments_pkey PRIMARY KEY (order_id, payment_sequential);


--
-- Name: order_reviews order_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_reviews
    ADD CONSTRAINT order_reviews_pkey PRIMARY KEY (review_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: sellers sellers_pkey; Type: CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_pkey PRIMARY KEY (seller_id);


--
-- Name: order_items fk_order_items_order; Type: FK CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_items_order FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: order_items fk_order_items_product; Type: FK CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_items_product FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: order_items fk_order_items_seller; Type: FK CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_items_seller FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: order_reviews fk_order_reviews_order; Type: FK CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.order_reviews
    ADD CONSTRAINT fk_order_reviews_order FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: orders fk_orders_customer; Type: FK CONSTRAINT; Schema: public; Owner: olist_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_customer FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- PostgreSQL database dump complete
--

\unrestrict PrmafafLkYDMPAiwNndv6QtZWb6urfz9HJF51NeGVYeaAcGIAh0sRISbq1tgAqc

